.bg h1{
    color: rgb(223, 236, 49);
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.footer p{
    text-align: center;
    color: white;
    margin-top: 2%;
    margin-bottom: 1%;

}
.footer span{
    color: rgb(223, 236, 49);
    font-weight: bold;
}